<html>
  <div class="container">
    <h1>Student Details</h1>

    <div class="row justify-content-center" id="rowDiv">
      <label class="col-2 form-label">Roll No:</label>
      <div class="col-4">
        <div class="form-group">
          <input type="text" #rollno class="form-control" />
        </div>
      </div>
    </div>

    <div class="row justify-content-center" id="rowDiv">
      <label class="col-2 form-label">Student Name:</label>
      <div class="col-4">
        <div class="form-group">
          <input type="text" #name class="form-control" />
        </div>
      </div>
    </div>

    <div class="row justify-content-center" id="rowDiv">
      <label class="col-2 form-label">Branch:</label>
      <div class="col-4">
        <div class="form-group">
          <input type="text" #branch class="form-control" />
        </div>
      </div>
    </div>

    <div class="row justify-content-center" id="rowDiv">
      <label class="col-2 form-label">Year:</label>
      <div class="col-4">
        <div class="form-group">
          <input type="text" #year class="form-control" />
        </div>
      </div>
    </div>

    <div class="row justify-content-center" id="rowDiv">
      <button
        class="col-1 btn btn-primary"
        (click)="
          displaydetails(rollno.value, name.value, branch.value, year.value)
        "
      >
        Send
      </button>
    </div>

    <div class="row justify-content-center" id="rowDiv">
      <app-student></app-student>
    </div>
  </div>
</html>
