html {
  background: linear-gradient(
    rgba(157, 219, 237, 0.5),
    rgba(216, 206, 206, 0.5),
    rgba(0, 0, 0, 0.3)
  );
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: coral;
  text-align: center;
  padding-top: 30px;
}
#rowDiv {
  padding-top: 20px;
}
label {
  font-family: cursive;
  font-size: 25px;
  font-weight: 600;
  color: rgb(21, 95, 21);
  text-align: right;
}
button {
  padding: 10px 0;
  font-size: 18px;
}
