#tablecss {
  display: 50%;
  margin: 50px auto;
}
table,
th,
tr,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
th {
  font-size: 22px;
  font-weight: 700;
  color: white;
  background-color: darkgreen;
}
td {
  font-size: 18px;
}
